.fcard-hori-flex {
    display: flex;
    justify-content: left;
    align-items: center;
}

.fcard-container {
    width: 40vw;
    min-width: 375px;
    max-width: 550px;
    font-family: 'Roboto';
    font-style: normal;
    margin: 2vw;
}

.fcard-h2 {
    font-family: "Designer";
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-right: 2vw;
}

.fcard-p {
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 12px;
    text-transform: uppercase;
}

.fcard-p-green {
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    font-size: 12px;
    background-color: rgba(34, 78, 0, 0.27);
    border-radius: 20px;
    padding: 5px;
    text-transform: uppercase;
}

.fcard-h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    border: solid black;
    border-width: 1px;
    border-radius: 20px;
    padding: 5px;
    width: fit-content;
    margin-top: 1.25vh;
    margin-bottom: .5vh;
    text-transform: uppercase;
}

.fcard-img {
    width: 40vw;
    min-height: 250px;
    max-height: 350px;
    min-width: 375px;
    max-width: 550px;
    height: 30vw;
    object-fit: cover;
}